body{
    background-color: #efefef;
}

.mytable{
    padding-top: 20px;
}

.account_page{
    margin: 50px;
}
.mybtn{
    margin-top: 5px;
    margin-left: 5px;
}

.myimg{
    width: 70px;
    height: 65px;
}
.myName{
    font-size: larger;
    font-weight: bolder;
}
.info-head{
    background-color: white;
    margin-left:30px;
    margin-bottom: 10px;
    margin-right: 30px;
    padding: 10px;
}

.info-body{
    background-color: white;
    margin-left:30px;
    margin-right: 30px;
    padding: 10px;
}

.info-body:after{
    clear:both;
    content:'';
    display:block;
    width:0;height:0;
    visibility:hidden;
}

.sidebar{
    margin: 5px;
}