<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>宁可白一点的blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/myblog.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navgater :: nav"></div>
<div class="info-body container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <h3>最新博客</h3>
            <div th:each="blog : ${pagination.data}" class="media">
                <hr>
                <div class="media-left">
                    <img class="media-object img-circle myimg" th:src="${blog.user.avatarUrl}" th:alt="${blog.user.name}">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a th:href="'/blog/'+${blog.blog.id}" th:text="${blog.blog.title}"></a></h4>
                    发布时间：<span th:text="${#dates.format(blog.blog.gmtCreate,'yyyy-MM-dd HH:mm')}"></span><br>
                    点赞数：<span th:text="${blog.blog.likeCount}"></span> ｜
                    阅读数：<span th:text="${blog.blog.viewCount}"></span> ｜
                    标签： <span th:text="${blog.blog.tags}"></span>｜
                </div>
            </div>
            <nav aria-label="Page navigation" style="padding-top: 10px;padding-left: 10px">
                <ul class="pagination">
                    <li th:if="${pagination.first == true}">
                        <a th:href="'/?page=1'" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.before == true}">
                        <a th:href="@{/(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true"><</span>
                        </a>
                    </li>

                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}?'active':''">
                        <a th:href="@{/(page=${page})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pagination.next == true}">
                        <a th:href="@{/(page=${pagination.page + 1})}" aria-label="Previous">
                            <span aria-hidden="true">></span>
                        </a>
                    </li>

                    <li th:if="${pagination.end == true}">
                        <a th:href="@{/(page=${pagination.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="sidebar">
                <h4>友情连接</h4>
            </div>
            <hr>
            <div class="sidebar">
                <h4>推荐栏目</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>